<ion-view view-title="完善商家信息" hide-nav-bar="true">
    <div ng-if="applyBol">
        <ion-header-bar class="bar-assertive header-back">
            <div class="buttons">
                <button class="button iconfont icon-back1 button-clear" ng-click="$ionicGoBack()">返回</button>
            </div>
            <h1 class="title">完善商家信息</h1>
        </ion-header-bar>
        <ion-content class="bodybg-normal">
            <div class="yd-donate-count real-count s-apply-c">
                <ul>
                    <li>
                        <label>商家名称</label>
                        <input type="text" placeholder="请输入商户名称" ng-model="shopInfo.shopName">
                    </li>
                    <li>
                        <label>商家负责人</label>
                        <input type="text" placeholder="请输入商家负责人名称" ng-model="shopInfo.cName">
                    </li>
                    <!--<li>
                        <label>商家推荐人</label>
                        <input type="text" placeholder="请输入业务员或代理人手机号" ng-model="shopInfo.shopPer">
                    </li>-->
                    <li class="flex" ng-click="areaShow()">
                        <p class="flex_1">选择地址</p>
                        <span ng-bind="up.userInfo.area||'点击选择'"></span>
                        <i class="iconfont icon-right"></i>
                    </li>
                    <li>
                        <label>详细地址</label>
                        <input type="text" maxlength="11" placeholder="请输入详细地址" ng-model="shopInfo.address">
                    </li>
                    <li>
                        <label>联系方式</label>
                        <input type="text" placeholder="请输入联系方式" ng-model="shopInfo.mobile">
                    </li>
                    <li ng-click="showShopDesc()">
                        请输入商家描述
                    </li>
                    <li class="flex">
                        <p class="flex_1">选择商家经营类型</p>
                        <select ng-model="shopInfo.selecedType" style="background-color: #ff5b1f; color: white;border:none">
							<option ng-repeat="item in category" value="{{item.id}}">{{item.title}}</option>
						</select>
                    </li>
                </ul>
            </div>
            <div class="yd-apply-img">
                <h3>上传商家LOGO</h3>

                <div class="row">
                    <div class="col photo_box">
                        <em id="divImg01"></em>
                        <!--<img id="divImg01" src="{{shopInfo.logo}}" alt="">-->
                        <!--<img id="divImg01" ng-src="info.logo"></img>-->
                        <i class="iconfont icon-add" ng-click="uploadAvatar(1)" id='divImg1' style="border:none"></i>
                    </div>
                    <div class="col photo_box">
                        <!--<em id="divImg01"></em>-->
                        <img  src="{{shopInfo.logoShow}}" alt="">
                        <!--<img id="divImg01" ng-src="info.logo"></img>-->
                        <!--<i class="iconfont icon-add" ng-click="uploadAvatar(1)" id='divImg1' style="border:none"></i>-->
                    </div>
                </div>

            </div>
        </ion-content>
        <ion-footer-bar>
            <button class="button button-assertive" style="width: 100%;" ng-click="apply()">提交</button>
        </ion-footer-bar>
    </div>

    <!--商家描述-->
    <div class="applyBol" ng-if="!applyBol">
        <ion-header-bar class="bar-assertive header-back">
            <div class="buttons">
                <button class="button iconfont icon-back1 button-clear" ng-click="showShopDesc()">返回</button>
            </div>
            <h1 class="title">商家描述</h1>
        </ion-header-bar>
        <ion-content class="bodybg-normal">
            <div class="yd-reject-con flex">
                <textarea rows="10" class="flex_1" placeholder="请输入商家描述信息" ng-model="shopInfo.shopDescrip"></textarea>
            </div>
            <button class="button button-block button-assertive zl_btn_center" ng-click="showShopDesc();">提交</button>
        </ion-content>
    </div>
</ion-view>